@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*   font-family: 'Bebas Neue', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Bebas+Neue&display=swap');
/* font-family: 'Baloo Paaji 2', cursive; */

@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cafe24Ohsquareair';
}